.infoBox {
  flex: 1;
  cursor: pointer;
  text-align: center;
  max-width: 200px !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--selected{
  border:  1px solid black;
}

.infoBox__color--Deaths{
  color: #ff6c47;
}
.infoBox__color--Recovered{
  color: #7dd71d;
}
.infoBox__color--Cases{
  color: #cc1034;
}

@media (max-width: 500px) {
  .infoBox__cases {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .infoBox__total {
    font-size: 0.7rem !important;
    margin-top: 5px !important;
  }
  .infoBox__title{
    font-size: 1.2rem;
    font-weight: bold !important;
  }
}